@media screen {
    body {
        background: linear-gradient(36deg, #1c79c0, #0389ff, #0dd3ff);
    }

    // default styles
    select {
        border: 1px solid #e9ecef !important;
        font-weight: 400;
        font-size: 80%;
    }

    // change selection color
    ::selection {
        background: #c8f1ff; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
        background: #c8f1ff; /* Gecko Browsers */
    }

    // attributes
    [hidden] {
        display: none !important;
    }

    // helper classes
    .disabled {
        pointer-events: none;
    }

    // bootstrap resets
    .btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; /* reset bootstrap border */

        &:focus, &:active {
            box-shadow: none !important; /* reset bootstrap box-shadow */
        }
    }

    .navbar-toggler:focus {
        outline: none; /* reset border of nav toggler */
    }

    .form-control:focus {
        box-shadow: none; /* reset bootstrap box-shadow */
    }

    .border-divider {
        border-color: #e6e6e6 !important;
    }

    // navigation
    nav {
        border-bottom: 1px solid #d8d8d8;
        background-color: #ffffff !important;

        button.navbar-toggler {
            border: none;
        }

        a.navbar-brand {
            span {
                color: #868e96 !important;
            }
        }

        section#navbar {
            ul {
                li {
                    a {
                        color: #868e96 !important;

                        &:hover {
                            color: #6c757d;
                        }
                    }
                }
            }
        }

        &.collapsed {
            border-bottom: 1px solid #d8d8d8;

            a.navbar-brand {
                margin-top: 0 !important;
                transition: margin-top 100ms ease-in-out;
            }

            section#navbar {
                margin-top: 0 !important;
                transition: margin-top 100ms ease-in-out;
            }
        }

        section#navbar {
            // left side (large), bottom (mobile)
            ul#navbar-left {
                text-align: center;
            }

            // right side (large), top (mobile)
            ul#navbar-right {
                // always inline items for bottom
                -ms-flex-direction: row;
                flex-direction: row;
                // center for mobile
                justify-content: center;

                // always add padding
                a.nav-link {
                    padding-right: .5rem;
                    padding-left: .5rem;
                }
            }
        }
    }

    section#selection {
        margin-bottom: -40px;

        ul#lb-functions-selection-list {
            li {
                margin-right: 0;

                &:hover {
                    background-color: #c0ebf9;
                    cursor: pointer;
                }

                &.selected {
                    background-color: #c8f1ff;
                }
            }
        }
    }

    section#functions {
        background-color: #ffffff;

        ul#lb-filter-functions-content {
            &.collapse {
                display: none !important;

                &.show {
                    display: block !important;
                }
            }

            li.nav-item {
                display: inline-block;
            }
        }
    }

    section#faq {
        background-color: #d8e4ec;
    }

    .result {
        display: none;
    }

    .loader {
        display: none;

        .line {
            width: 1px;
            height: 12px;
            background: #000000;
            margin: 0 1px;
            display: inline-block;
            animation: opacity-1 1000ms infinite ease-in-out;
        }

        .line {
            width: 1px;
            height: 12px;
            background: #000000;
            margin: 0 1px;
            display: inline-block;
            animation: opacity-2 1000ms infinite ease-in-out;
        }

        .line-1, line-9 {
            animation-delay: 800ms;
        }

        .line-2, .line-8 {
            animation-delay: 600ms;
        }

        .line-3, .line-7 {
            animation-delay: 400ms;
        }

        .line-4, .line-6 {
            animation-delay: 200ms;
        }

        @keyframes opacity-1 {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes opacity-2 {
            0% {
                opacity: 1;
                height: 15px;
            }
            50% {
                opacity: 0;
                height: 12px;
            }
            100% {
                opacity: 1;
                height: 15px;
            }
        }
    }

    section#sponsors {
        background-color: #ffffff;

        ul {
            li {
                &.list-inline-item:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }

    footer {
        background-color: #ffffff;
    }
}

@media screen and (min-width: 992px) {
    nav {
        border-bottom: none;
        background-color: transparent !important;

        // brand fix on large displays
        a.navbar-brand {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
            span {
                color: #f8f9fa !important;
            }
        }

        section#navbar {
            ul {
                li {
                    a {
                        color: #f8f9fa !important;

                        &:hover {
                            color: #f8f9fa !important;
                        }
                    }
                }
            }
        }

        &.collapsed {
            background-color: #ffffff !important;

            a.navbar-brand {
                span {
                    color: #868e96 !important;
                }
            }

            section#navbar {
                ul {
                    li {
                        a {
                            color: #6c757d !important;

                            &:hover {
                                color: #6c757d !important;
                            }
                        }
                    }
                }
            }
        }

    }

    section#selection {
        margin-bottom: -85px;
    }
}

@media screen and (min-width: 1200px) {
    section#functions {
        button#lb-filter-functions-button {
            display: none;
        }

        ul#lb-filter-functions-content {
            &.collapse {
                display: block !important;
            }

            li.nav-item {
                display: block;
            }
        }
    }
}